{
  "extends": ["prettier/@typescript-eslint", "standard"],
  // "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  // "parserOptions": {
  //   "ecmaVersion": 6,
  //   "sourceType": "module"
  // },
  "rules": {
    "semi": 2,
    "prettier/prettier": 0,
    "no-new": 0,
    "no-useless-constructor": 0
  }
}